@charset "UTF-8";

#title {
  text-align: center;
  font-family: Harlow Solid;
  font-size: 100px;
  text-shadow: 5px 5px 2px #c6c6c6;
  padding-bottom: 50px;
}

.mcontent{
  border: 1pt groove #3f51b5
}
