@charset "UTF-8";

@media (min-width : 826px) and (max-width : 1400px) {
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
  }
}

.menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(102, 48, 255, 0.68);
  overflow-x: hidden;
  transition: 0.5s ease-in-out;
  padding-top: 60px;
}

.menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.2s ease-in-out;
}

.menu a:hover, .offcanvas a:focus {
  color: #000;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
}

.openmenu:hover {
  color: rgb(58, 0, 200);
  transition: 0.5s ease-in-out;
}

.openmenu {
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

@media (max-width : 825px) {
  .menu {
    padding-top: 15px;
  }

  .menu a {
    font-size: 18px;
  }
}
